*{
    padding: 0;
    margin: 0;
}

body {
    font-family: "montserrat",sans-serif;
}
header {
    background: rgb(29, 22, 22);
    position: fixed;
    width: 100%;
    z-index: 999;
}
nav a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover {
    color: #FFF;
}
.navbar {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
    margin-right: 5px;
    min-height: 4vh;
}
.nav-links {
    align-items: center;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
    margin-left: 45%;
}
.navbar li {
    margin-left: 12px;
    padding: 5px;
    padding-top: 7px;
}
.navbar li:hover {
    background-color: #266fa0;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.25s ease;
}

/*Main Title/Logo*/
#main-title {
    position: absolute;
    font-size: 22px;
    color: #FFF;
    text-decoration: none;
    left: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

/*Hamburger Menu*/
.burger {
    display: none;
    cursor: pointer;
    top: 15px;
    right: 20px;
}
.burger div {
    border-radius: 2px;
    width: 25px;
    height: 5px;
    background: #FFF;
    margin: 5px;
    transition: all 0.3s ease;
}
/*Socail Media Banner*/
.social-media-bar {
    background-color: #FFF;
    padding: 0px;
    position: absolute;
    top: 25vh;
    transform: translateX(-50px);
    font-size: 22px;
    transition: 0.5s ease;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 0 5px 15px -5px #000000;
    color: #FFF;
    transition-delay: 0.2s;
}
#social-media-arrow {
    color: #FFFFFF75;
    position: absolute;
    padding-left: 10px; 
    transform: translateX(50px);
    bottom: 45%;
    animation-name: sm-arrow;
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
#social-media-arrow:hover {
    color: rgba(255, 255, 255, 100)
}
.social-media-bar:hover {
    color: #FFF;
    padding: 1px;
    transform: translateX(0px);
    transition: 0.5s ease;
}
.social-media i {
    color: #3498db;
}
.social-media i:hover {
    font-size: 26px;
    transition: 0.5s ease;
    transform: rotate(360deg);
}
.smbtn {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #3498db;
    text-decoration: none;
    margin: 14px;
}

/*Mobile Displays*/
@media screen and (min-width:1024px) {
    .nav-links {
        margin-left: 50%;
    }
}
@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }
    .nav-links {
        position: absolute;
            right: 0px;
            height: 95vh;
            top: 5vh;
            padding-bottom: 10px;
            background-color: rgb(29, 22, 22);
            flex-direction: column;
            align-items: center;
            width: 40%;
            transform: translateX(100%);
            transition: 0.25s ease;
    }
    .burger {
        position: absolute;
        display: block;
    }
    .nav-links li {
        opacity: 0;
    }

/*Javascript Toggle Tags*/
}
.nav-active {
    transform: translateX(0%)
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,2px);
}
.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-12px,-10px);
}


/*Animation Keyframes*/

@keyframes navLinkFade {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes sm-arrow {
    0% {
        transform: translateX(50px)
    }
    50% {
        transform: translateX(55px)
    }
    100% {
        transform: translateX(50px)
    }
}